# Coursera L2 : Data types and operators

### Arimethic operations:

<h4> + </h4>
<h4> - </h4>
<h4> * </h4>
<h4> / </h4>
<h4> %  = Modulo / remainder </h4>
<h4> // = Divided and round down the results to the nearest int</h4>
<h4> ** = Exponential atau pangkat </h4>

### Quiz: Average Electricity Bill

It's time to try a calculation in Python!

My electricity bills for the last three months have been $23, $32 and $64. What is the average monthly electricity bill over the three month period? Write an expression to calculate the mean, and use print() to view the result.

In [ ]:
# Write an expression that calculates the average of 23, 32 and 64
# Place the expression in this print statement
print((23+32+64)/3)

### Quiz: Calculate
In this quiz you're going to do some calculations for a tiler. Two parts of a floor need tiling. One part is 9 tiles wide by 7 tiles long, the other is 5 tiles wide by 7 tiles long. Tiles come in packages of 6.

How many tiles are needed?
You buy 17 packages of tiles containing 6 tiles each. How many tiles will be left over?

In [ ]:
# Fill this in with an expression that calculates how many tiles are needed.
print(9*7+5*7)

# Fill this in with an expression that calculates how many tiles will be left over.
print((17*6)-(9*7+5*7))

### Variables and Assignment Operators

1. only use name, lowercase, underscore for variable. no space
2. dont use reserved words such as if, else 

nama_variable = 10 OK
NamaVariable = 10 Not OK

### Assignment Operators

For simplify the usage of operation variables

In [3]:
tambah = 10
tambah += 5
print(tambah)

15

### Quiz: Assign and Modify Variables
Now it's your turn to work with variables. The comments in this quiz (the lines that begin with #) have instructions for creating and modifying variables. After each comment write a line of code that implements the instruction.

Note that this code uses scientific notation to define large numbers. 4.445e8 is equal to 4.445 * 10 ** 8 which is equal to 444500000.0.

In [ ]:
# The current volume of a water reservoir (in cubic metres)
reservoir_volume = 4.445e8
# The amount of rainfall from a storm (in cubic metres)
rainfall = 5e6

# decrease the rainfall variable by 10% to account for runoff
rainfall *= .9
# add the rainfall variable to the reservoir_volume variable
reservoir_volume += rainfall
# increase reservoir_volume by 5% to account for stormwater that flows
reservoir_volume *= 1.05
# into the reservoir in the days following the storm

# decrease reservoir_volume by 5% to account for evaporation
reservoir_volume *= 0.95
# subtract 2.5e5 cubic metres from reservoir_volume to account for water
reservoir_volume -= 2.5e5
# print the new value of the reservoir_volume variable
print(reservoir_volume)

## Integers and Floats

<h4>Int = bilangan bulat</h4>
<h4>Floats = bilangan koma</h4>

If you use int in float number, it will convert to int and vice versa

use type to check the data type

In [7]:
x = int(4.7)
y = float (4)

print(x)
print(y)

4
4.0

### Comparison operators
<h3> > Greater than</h3>
<h3> < Less than</h3>
<h3> >= Greater than or equal to</h3>
<h3> <= Less than or equal to</h3>
<h3> == Equal to</h3>
<h3> != Not equal to</h3>

### Logical operators

<h3> > and = all statement must be true</h3>
<h3> > or = 1 statement must be true</h3>
<h3> > not = switch the boolean value</h3>

In [3]:
#Ex
3 != 5 and 3>5

False

## Strings

You can use " " and ' ' for Strings

In [4]:
#Examples

string1 = "Test"
string2 = 'Test'

If you want to use ' inside quotation theres 2 ways
<h4>1. Using '\'
<h4>2. Using " " then ' inside quotation

In [5]:
#Example

string1 = "Test irbin's"
string2 = 'Test irbin\'s'
print(string1)
print(string2)

Test irbin's
Test irbin's

### The len() function

Return length of object, ex: string. It will be converted to int

In [13]:
#Examples
len('hello watashi no namae wa')
string1 = 'anjing'
string2 = 'babi'
print(len(string1)*len(string2))

24

### Quiz: Fix the Quote
The line of code in the following quiz will cause a SyntaxError, thanks to the misuse of quotation marks. First run it with Test Run to view the error message. Then resolve the problem so that the quote (from Henry Ford) is correctly assigned to the variable ford_quote.

In [ ]:
ford_quote = "Whether you think you can, or you think you can't--you're right."

### Quiz: len()
Use string concatenation and the len() function to find the length of a certain movie star's actual full name. Store that length in the name_length variable. Don't forget that there are spaces in between the different parts of a name!

In [ ]:
given_name = "William"
middle_names = "Bradley"
family_name = "Pitt"

name_length = len(given_name)+len(middle_names)+len(family_name)+len("  ")#todo: calculate how long this name is

# Now we check to make sure that the name fits within the driving license character limit
# Nothing you need to do here
driving_license_character_limit = 28
print(name_length <= driving_license_character_limit)

In [15]:
"0" + "5"

'05'

### Quiz: Total Sales
In this quiz, you’ll need to change the types of the input and output data in order to get the result you want.

Calculate and print the total sales for the week from the data provided. Print out a string of the form "This week's total sales: xxx", where xxx will be the actual total of all the numbers. You’ll need to change the type of the input data in order to calculate that total.

In [ ]:
mon_sales = "121"
tues_sales = "105"
wed_sales = "110"
thurs_sales = "98"
fri_sales = "95"
week_sales = int(mon_sales)+int(tues_sales)+int(wed_sales)+int(thurs_sales)+int(fri_sales)
print("This week's total sales:",week_sales)
#TODO: Print a string with this format: This week's total sales: xxx
# You will probably need to write some lines of code before the print statement.

### String Methods

Important string methods: format() used for fill {}

In [16]:
#Example
string1 = 'babi'
string2 = 'anjing'
string3 = "makan {} dan {}".format(string1,string2)
print(string3)

makan babi dan anjing

### Another important string method: split()

.split is used to separate every strings into <b>"list"</b>.

split is combination of sep and max

In [31]:
#Examples
string1 = "anjing babi sapi kucing"
print(string1.split())
print(string1.split('a',4))

['anjing', 'babi', 'sapi', 'kucing']
['', 'njing b', 'bi s', 'pi kucing']