In [2]:
import pandas as pd
data = pd.read_csv('HistoricalQuotes.csv')
print(data.head())

date      close        volume       open       high        low
0       13:33   1,155.14     1,145,529      1,172   1,176.88      1,152
1  2019/08/02  1196.3200  1745450.0000  1203.0000  1209.5000  1190.0000
2  2019/08/01  1211.7800  1771271.0000  1217.6300  1236.2980  1207.0000
3  2019/07/31  1218.2000  1997999.0000  1224.8700  1234.9100  1208.1800
4  2019/07/30  1228.0000  1430775.0000  1227.0000  1236.9100  1225.3200

In [6]:
# Several ways to access data

#Using bracet
data['date']

#Using dot-syntax
data.date

0            13:33
1       2019/08/02
2       2019/08/01
3       2019/07/31
4       2019/07/30
           ...
2514    2009/08/07
2515    2009/08/06
2516    2009/08/05
2517    2009/08/04
2518    2009/08/03
Name: date, Length: 2519, dtype: object

In [9]:
# Access using multiple columns
data[['close','open']]

          close       open
0      1,155.14      1,172
1     1196.3200  1203.0000
2     1211.7800  1217.6300
3     1218.2000  1224.8700
4     1228.0000  1227.0000
...         ...        ...
2514   230.9017   230.1794
2515   227.4971   229.4873
2516   227.8911   230.3461
2517   229.2014   226.9970
2518   228.4316   226.6787

[2519 rows x 2 columns]

### Recall that

Example : mylist [startAt:endBefore]

In [24]:
# Access rows using brackets

data[0:9]

         date      close        volume       open       high        low
0       13:33   1,155.14     1,145,529      1,172   1,176.88      1,152
1  2019/08/02  1196.3200  1745450.0000  1203.0000  1209.5000  1190.0000
2  2019/08/01  1211.7800  1771271.0000  1217.6300  1236.2980  1207.0000
3  2019/07/31  1218.2000  1997999.0000  1224.8700  1234.9100  1208.1800
4  2019/07/30  1228.0000  1430775.0000  1227.0000  1236.9100  1225.3200
5  2019/07/29  1241.8400  2069127.0000  1242.5000  1248.9950  1230.2000
6  2019/07/26  1245.2200  6060795.0000  1228.0000  1268.3940  1228.0000
7  2019/07/25  1135.9400  2738139.0000  1138.9500  1143.5910  1123.7100
8  2019/07/24  1139.7300  1359956.0000  1132.6200  1145.4550  1128.5100

In [33]:
# Access rows using boolean

data.loc['date':'open',[1:3]]

SyntaxError: invalid syntax (<ipython-input-33-d486713b0003>, line 3)