In [11]:
import pandas as pd
import matplotlib as plt
data = pd.read_csv('HistoricalQuotes.csv')
print(data.head())

date      close        volume       open       high        low
0       13:33   1,155.14     1,145,529      1,172   1,176.88      1,152
1  2019/08/02  1196.3200  1745450.0000  1203.0000  1209.5000  1190.0000
2  2019/08/01  1211.7800  1771271.0000  1217.6300  1236.2980  1207.0000
3  2019/07/31  1218.2000  1997999.0000  1224.8700  1234.9100  1208.1800
4  2019/07/30  1228.0000  1430775.0000  1227.0000  1236.9100  1225.3200

In [10]:
print(data.head())

date      close        volume       open       high        low
0       13:33   1,155.14     1,145,529      1,172   1,176.88      1,152
1  2019/08/02  1196.3200  1745450.0000  1203.0000  1209.5000  1190.0000
2  2019/08/01  1211.7800  1771271.0000  1217.6300  1236.2980  1207.0000
3  2019/07/31  1218.2000  1997999.0000  1224.8700  1234.9100  1208.1800
4  2019/07/30  1228.0000  1430775.0000  1227.0000  1236.9100  1225.3200

In [3]:
print(data.tail())

date     close        volume      open      high       low
2514  2009/08/07  230.9017  2540727.0000  230.1794  232.0737  229.8359
2515  2009/08/06  227.4971  2108417.0000  229.4873  229.7803  226.5726
2516  2009/08/05  227.8911  2340638.0000  230.3461  230.8058  226.2443
2517  2009/08/04  229.2014  2388618.0000  226.9970  229.3358  226.5221
2518  2009/08/03  228.4316  2587139.0000  226.6787  229.2853  226.1231

In [4]:
print(data.describe())

date     close        volume      open      high       low
count         2519      2519          2519      2519      2519      2519
unique        2519      2482          2516      2452      2446      2465
top     2016/06/03  292.9840  1672965.0000  310.6641  292.9840  291.9738
freq             1         3             2         3         3         3

In [12]:
# Specified percentiles
data.describe(percentiles=[0.3, 0.5, 0.6])

              date     close        volume      open      high       low
count         2519      2519          2519      2519      2519      2519
unique        2519      2482          2516      2452      2446      2465
top     2016/06/03  292.9840  1672965.0000  310.6641  292.9840  291.9738
freq             1         3             2         3         3         3